.site-nav {    
    // display: flex;
    // align-items: center;
    @extend %centeredFlex;
}
a {
    text-decoration: none;
}
.nav-top .current {
    position: relative;
    display: inline-block;
    padding-bottom: 28px;
    color: $accent-color;
}
.top-link.current::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border:none;
    border-radius: 2px;
    
    background-color: $accent-color;
    transform: scaleX(1);
    transition: scale $duration-time $timing-func;
}
.top-link:hover::after,
.top-link:focus::after {
    transform: scale(0.8);
}
.nav-top {
    list-style: none;
    // display: flex;
    // align-items: center;
    @extend %centeredFlex;
    margin: 0;
    padding-left: 0;
}
.nav-top .item + .item {
    margin-left: 50px;
}
.nav-top a {
    display: block;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    transition: color $duration-time $timing-func;
}
.nav-top .top-link:hover,
.nav-top .top-link:focus {
    color: $accent-color;
}