%centeredFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}
%bgCommon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
%textTop {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
}