%centeredFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}
%bgCommon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}