$primary-text-color:#212121;
$secondary-text-color:#757575;
$light-color: #FFFFFF;
$accent-color: #2196F3;
$primary-background-color: #ffffff;
$secondary-background-color: #2F303A;
$inactive-filter-color: #F5F4FA;
$header-border: #ECECEC;
$button-shadow: rgba(0, 0, 0, 0.15);
$button-bg-color: #188CE8;
$icon-primary: #AFB1B8;